
.landing-page-walking {
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Inter;
  font-size: 5.125rem;
  font-weight: 600;
  line-height: 100px;
  display: flex;
  background-image: url("/src/assets/background_christmas.jpg");
  background-position: center;
  background-size: cover;
}

.rectangle-20 {
  height: 100%;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 80px;
  display: flex;
}

.flex-container {
  text-align: center;
  width: 100%;
  flex-direction: column;
  flex-basis: 11%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 9px;
  font-family: JejuHallasan;
  font-size: 1.813rem;
  font-weight: 400;
  line-height: 25px;
  display: flex;
}

.rectangle-22 {
  width: 143px;
  height: 134px;
  object-fit: cover;
  margin-bottom: -134px;
  margin-left: 134px;
}

.rectangle-21 {
  z-index: auto;
  background-color: #00000082;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.rugid-trips {
  width: 143px;
  height: 134px;
  background-image: url("/src/assets/rectangle22.svg");
  letter-spacing: -2px;
  margin-bottom: -5%;
  object-fit: cover;
  align-items: center;
  display: grid;
}

.button-variant-3-instance-1, .button-variant-34-instance, .button-variant-35-instance {
  height: 40%;
  flex-basis: 8%;
  margin-bottom: 1px;
}

.button-variant-36-instance {
  height: 40%;
  flex-basis: 9%;
  margin-top: 1px;
  margin-bottom: 1px;
}

.button-variant-31-instance {
  height: 40%;
  flex-basis: 8%;
  margin-bottom: 1px;
}

.button-variant-32-instance {
  height: 40%;
  flex-basis: 8%;
  margin-bottom: 1px;
}

.flex-container-1 {
  width: 55%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4px;
  margin-left: 134px;
  display: flex;
}

.uk-hiking-walking-t {
  letter-spacing: -2px;
  margin-bottom: -15px;
  font-size: 2.625rem;
  line-height: 91px;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.for-the-adventurer {
  letter-spacing: -4px;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.flex-container-2 {
  width: 20%;
  flex-direction: row;
  flex-basis: 4%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 345px;
  margin-left: 134px;
  display: flex;
}

.exclude {
  width: 129px;
  height: 41px;
  object-fit: cover;
  border: none;
}

.button-variant-33-instance {
  height: 100%;
  flex-basis: 49%;
  margin-top: 1px;
}
