
.landing-background {
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  font-family: Inter;
  /* font-size: 5.125rem; */
  /* font-weight: 600; */
  /* line-height: 100px; */
  /* display: flex; */
  background-image: url("/src/assets/background_christmas.jpg");
  background-position: center;
  background-size: cover;
}

.logo-text {
  width: 143px;
  height: 134px;
  background-color: black;
  letter-spacing: -2px;
  margin-bottom: -5%;
  object-fit: cover;
  align-items: center;
  /* display: grid; */
}

canvas {
  width: 100%;
  height: auto;
}
